trunk/CakeChuff/src/cc/scada/docs/dtd/ss2Info.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD that represents the values for  speed for subsystem two -->

	<!ELEMENT ss2Info (defaultSpeed, conveyorSpeed , conveyorLenght, state )>
		<!ELEMENT defaultSpeed (#PCDATA)>
		<!ELEMENT conveyorSpeed (#PCDATA)>
		<!ELEMENT conveyorLenght (#PCDATA)>
		<!-- states: init, blister_ready, cutting, press-->
		<!ELEMENT state (#PCDATA)>